<div class="container basic" >
  <h1>Listagem de todos os torneios</h1>
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="firstName">Nome</th>
        <th st-sort="lastName">Tipo</th>
        <th st-sort="birthDate">Data</th>
        <th st-sort="balance">Imagem</th>
        <th colspan="1">
          <i class="glyphicon glyphicon-search i-search"></i>
          <input st-search="" class="form-control form-search" placeholder="global search ..." type="text"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayedCollection" data-id="{{row.id}}">
        <td>{{row.name}}</td>
        <td>{{row.type}}</td>
        <td>{{row.date}}</td>
        <td></td>
        <td class="action-btns">
          <a  ng-click="" ng-href="tournament/{{row.id}}" id={{row.id}} class="btn btn-sm btn-success r-btn">
            <i class="glyphicon glyphicon-cog">
            </i>
          </a>
          <button type="button" ng-click="" id={{row.id}} class="btn btn-sm btn-warning r-btn">
            <i class="glyphicon glyphicon-pencil">
            </i>
          </button>
          <button type="button" ng-click="removeRow()" id={{row.id}} class="btn btn-sm btn-danger r-btn">
            <i class="glyphicon glyphicon-remove">
            </i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  <form name="tournament.uploadForm" class="my-form" id="myForm" enctype="multipart/form-data" >
    <table class="table">
      <thead>
        <tr>
          <td><h3>Adicionar Novo</h3></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" name="name" ng-model="name" placeholder="Nome" />          
          </td>
          <td>
            <input type="text" class="form-control" name="type" ng-model="type" placeholder="Tipo"/>          
          </td>
          <td>
            <input type="text" class="form-control" name="date" ng-model="date" placeholder="data" />          
          </td>
          <td>
            <label class="btn btn-default btn-file">
          Browse Image<input type="file"  name="img" ng-model="img" accept="image/x-png, image/gif, image/jpeg" custom-on-change="uploadFile" style="display: none;">
            </label>
            <span ng-show="!imageFound && touched"><i class="glyphicon glyphicon-exclamation-sign g-format"></i>Wrong Format</span>
            <span ng-show="imageFound">{{filename}}</span>
          </td>
          <td>
            <button type="button" ng-click="addRow();"  class="btn btn-sm btn-success">
              <i class="glyphicon glyphicon-plus">
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>