.tournament-section {
    overflow: hidden;
    text-align: center;
    background: #eee;
}

.about-section {
    text-align: center;
    background: url('../images/backgrounds/2.jpg') 50% 0 fixed;
    background-size: cover; 
}

.sponsor-section {
    overflow: hidden;
    text-align: center;
    background: #FFFFFF;
}

/*image carrousel -- header*/
.carousel-control .glyphicon-menu-right,
.carousel-control .glyphicon-menu-left {
   position: absolute;
   top: 50%;
   font-size: 40px;
 }

.carousel-control .glyphicon-menu-right {
   right: 30%; 
}
.carousel-control .glyphicon-menu-left {
    left: 30%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*End image Carousel*/

/*Owl carousel*/
    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }
/*end owl*/


/*TORNEIO-ITEM*/

.tournament-item {
    margin-bottom: 25px;
    margin-top: 25px;
}


